

body {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: url("img/themes/backgroundImage.gif");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cardDetailPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
}

.popup-inner{
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #FFF;
}

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}